html, body {
    height: 100%;
    font-family: Arial;
}

h1 {
    font-size: 1em;
}

.graph-area {
    width: 100%;
    height: 60vh;
    position: relative;
}

.popup {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    align-items: stretch;
}

.popupData {
    display: grid;
    padding-top: 10px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.popupData > div {
}

.graph-legend {
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

.legendItem {
    color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 7px;
    padding-right: 15px;
    margin-right: 20px;
    border-radius: 25px;
    border: 3px solid #ccc;
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    line-height: 1.6em;
    font-size: 1.3em;
    text-align: center;
}

.sps {
    margin-right: 0.5em;
}

.display-mode {
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 10vh;
    color: #45A5EA;
}
