html, body {
    height: 100%;
    font-family: Arial, serif;
}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 0.75em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.graph-area {
    width: 100%;
    height: 60vh;
    position: relative;
}

.popup {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    align-items: stretch;
    z-index: 100;
}

.popupData {
    display: grid;
    padding-top: 10px;
    justify-content: space-between;
    grid-template-columns: 0.5fr 1fr 1fr;
}

.popupHeader {
    grid-column: 1 / 3;
}

.popupData > div {
    padding-bottom: 5px;
}

.graph-legend {
    display: flex;
    padding: 25px 5px;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

.legendItem {
    color: #FFFFFF;
    padding: 4px 15px;
    margin-bottom: 12px;
    margin-right: 10px;
    border-radius: 25px;
    border: 3px solid #ccc;
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 1.6em;
    font-size: 1.1em;
    text-align: center;
}

.sps {
    margin-right: 0.5em;
}

#display-mode {
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 10vh;
    color: #45A5EA;
}

.arrow {
    text-align: right;
    font-size: 1.5em;
    margin-top: -0.3em;
    margin-bottom: 0.3em;
}
